@media screen and (max-width: 768px){
    .desktop-header{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    .about-section {
        flex-direction: column;
        align-items: center;
        /* Center items vertically */
    }

    .profilepic {
        margin-left: 0;
        margin-bottom: 20px; /* Add space between profile pic and text */
        height: auto; /* Let the height adjust automatically */
        max-width: 80%; /* Limit the maximum width */
    }

    .about-text {
        text-align: center;
    }
}
    

    
        
    
